<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% include 'stock/shared/__css.html' %}.
    <title>Nolapsemanager | {% block title %}Accueil{% endblock %}</title>
</head>
<body>

    <header>{% block header %}{% endblock %}</header>
    <section>{% block main %}{% endblock %}</section>
    <footer>{% block footer %}{% endblock %}</footer>
    {% include 'stock/shared/__js.html' %}
</body>
</html>